<html lang="en">
    <%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/navbar.ejs") %>  

  <main class="content">

    <section id="courses-offered">
      <div class="section-inner">
        <h1><%= course.cname %></h1>
        <p><%= course.cdescript %></p>
      </div>
    </section>
    
  </main>

</body>
<%- include("./partials/footer.ejs") %>

</html>